body {
    padding-top: 40px;
    padding-bottom: 40px;
}

.accordion-inner {
    background-color: #f5f5f5;
}

.accordion-admin-row {
    border-top: 1px solid #eeeeee;
}

.nav-menu {
    min-height: 20px;
}

.nav-menu ul li {
  float: left;
  display: inline;
  position: relative;
  z-index: 100;
  margin-left: 0;
  margin-right: 9px;
  list-style: none;
}

.dl-horizontal-small dt {
  width: 80px;
}

.dl-horizontal-small dd {
  margin-left: 85px;
}

.ribbon-wrapper {
  width: 65px;
  height: 68px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -1px;
  z-index: 100;
}

.ribbon {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 1px 0;
  left: 5px;
  top: 8px;
  width: 70px;
}

.ribbon:before, .ribbon:after {
  content: "";
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon:before {
  left: 0;
}

.ribbon:after {
  right: 0;
}

.ribbon-green {
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  border-top:   3px solid #6e8900;
}

.ribbon-red {
  background-color: #D85867;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#D85867), to(#B61C24)); 
  background-image: -webkit-linear-gradient(top, #D85867, #B61C24);
  background-image:    -moz-linear-gradient(top, #D85867, #B61C24);
  background-image:     -ms-linear-gradient(top, #D85867, #B61C24);
  background-image:      -o-linear-gradient(top, #D85867, #B61C24);
  color: #572D43;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-red:before, .ribbon-red:after {
  border-top:   3px solid #790014;
}