{{extend 'layout.html'}}
<div class="row">
    <div class="span12">
        <h2>{{=asgn_info['name']}}</h2>
        <h4><a href="{{=URL('instance','view', args=[asgn_info['instance_id']])}}">{{=asgn_info['instance']}}</a></h4>
    </div>
</div>
<div class="row">    
    <div class="span3">
        <div class="well well-small">        
            <h3>Información</h3>
            <dl class="dl-horizontal dl-horizontal-small">                
                <dt>Inicio</dt>
                <dd><span class="label">{{=asgn_info['starting'].strftime(datetime_format)}}</span></dd>
                <dt>Fin</dt>
                <dd><span class="label label-important">{{=asgn_info['ending'].strftime(datetime_format)}}</span></dd>
                <dt>Formato</dt>
                <dd>{{='Sin restricción' if not asgn_info['file_types'] or len(asgn_info['file_types']) == 0 else XML('Se permiten archivos con las extensiones <span class="label label-warning">' + asgn_info['file_types_text'] + '</span>')}}</dd>
                <dt># Archivos</dt>
                <dd>{{='Uno' if not asgn_info['multiple'] else 'Uno o más'}}</dd>
                <dt>Tamaño</dt>
                <dd><span class="label label-info">{{=file_size_options[asgn_info['max_size']]}}</span> por archivo</dd>
            </dl>
            {{ if asgn_info['files'] is not None and len(asgn_info['files']) > 0: }}
            <h6>Archivos</h6>
            <ul class="nav">
                {{ for fl in asgn_info['files']: }}
                <li><a href="{{=URL('download_assignment_file', args=[fl['file']])}}" target="_blank">{{=fl['original_filename']}}</a></li>
                {{ pass }}
            </ul>
            {{ pass }}
        </div>        
    </div>    
    {{ if asgn_info['in_groups']: }}
    <div class="span3">
        <div class="well well-small">      
            <h3>Tu Grupo <small>trabajo grupal</small></h3>
            {{ if user_group is None: }}
                <span class="label label-important">Aun no tienes grupo asignado para este trabajo.</span>
            {{ else: }}
            <h5>Grupo {{=user_group['id']}}</h5>
            <ul>
                {{ for std in user_group['students']: }}
                <li>{{=std['first_name'] + ' ' + std['last_name'] + ' (' + std['email'] + ')'}}</li>
                {{ pass }}
            </ul>
            {{ pass }}
        </div>        
    </div>
    {{ pass }}
    <div class="span6">
        <div class="well well-small">
            <h3>Instrucciones</h3>
            <p>Ten en consideración lo siguiente:</p>
            <ul>                
                <li>Podrás subir archivos constantemente hasta la fecha de <strong>fin</strong>.</li>
                <li>Agrega archivos con <strong>Agregar archivos...</strong> o arrastrándolos sobre la página. Se mostrarán en la lista <strong>Nuevos Archivos</strong>, pero no serán parte de tu entrega hasta que los envies con <strong>Enviar archivos</strong>.</li>
                <li>La entrega de tu trabajo será en base a la lista en <strong>Archivos Enviados</strong>. Descarta los archivos que no necesites.</li>
                <li>Si se envía un archivo con el mismo nombre que uno enviado previamente, el nuevo archivo reemplazará al anterior.</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    </div class="span12">
        <div class="well">  
            {{ if asgn_info['is_available']: }}
            <div class="row">
                <div class="span11">                    
                    <form id="form-file-upload" action="{{=URL('assignment_files', args=[asgn_info['id']])}}" method="POST" enctype="multipart/form-data">
                        <div class="row fileupload-buttonbar">  
                            <div class="span5">
                                <span class="btn btn-primary fileinput-button">
                                    <i class="icon-plus icon-white"></i>
                                    <span>Agregar archivos...</span>
                                    <input id="fileupload" type="file" name="files[]" multiple>
                                </span>
                                <button id="start-upload" class="btn btn-success start">
                                    <i class="icon-upload icon-white"></i>
                                    <span>Enviar archivos</span>
                                </button>
                            </div>
                            <div class="span3">
                                <div id="upload-progress" class="progress progress-striped active hide">
                                    <div class="bar" style="width: 0%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>            
            <div class="row">
                <div class="span7">
                    <h3>Nuevos Archivos <small>archivos aún no enviados</small></h3>                    
                    <table class="table table-striped table-bordered" id="tb-new-files">
                        <thead>
                            <tr>
                                <th>Nombre Archivo</th>
                                <th>Tipo</th>
                                <th>Tamaño</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            {{ pass }}
            <div class="row">
                <div class="span11">
                    <h3>Archivos Enviados <small>archivos que forman tu entrega</small></h3>
                </div>
            </div>
            <div class="row">            
                <div class="span7">
                    <table class="table table-striped table-bordered" id="tb-files">
                        <thead>
                            <tr>
                                <th>Nombre Archivo</th>
                                <th>Tipo</th>
                                <th>Tamaño</th>
                                <th>Enviado</th>
                                <th>Usuario</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="span4 hide" id="file-history-container">
                    <h5>Historial: <strong><span id="history-filename"></span></strong></h5>
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hide">
    <table>
        <tr id="tr-new-file-template">
            <td data-name></td>
            <td data-extension></td>
            <td data-size></td>
            <td data-remove>
                <a class="btn" rel="tooltip" title="Descartar archivo" href="#" data-remove-file><i class="icon-remove"></i></a>
            </td>
        </tr>
        <tr id="tr-file-template">
            <td data-name></td>
            <td data-extension></td>
            <td data-size></td>
            <td data-uploaded></td>
            <td data-user></td>
            <td data-remove>
                <a class="btn" rel="tooltip" title="Descartar archivo" href="#" data-remove-file><i class="icon-remove"></i></a>
            </td>
            <td data-history>
                <a class="btn" rel="tooltip" title="Ver historial del archivo" href="#" data-history-file><i class="icon-book"></i></a>
            </td>
        </tr>
    </table>
</div>

{{block pagescripts}}
<script src="{{=URL('static','js/jquery.ui.widget.js')}}"></script>
<script src="{{=URL('static','js/jquery.iframe-transport.js')}}"></script>
<script src="{{=URL('static','js/jquery.fileupload.js')}}"></script>

<script>
$(function () {
    var file;
    INGUANDES.new_files = [];
    INGUANDES.allowed_ext = [];
    INGUANDES.all_files = [];
        
    {{ 
    if len(asgn_files) > 0: 
        for uf in asgn_files:
    }}
    file = {}
    file.id = '{{=uf['id']}}';
    file.filename = '{{=uf['filename']}}';
    file.type = '{{=uf['type']}}';
    file.size = '{{=uf['size']}}';
    file.uploaded = '{{=uf['uploaded']}}';
    file.user = '{{=uf['user']}}';
    file.available = {{='false' if not uf['available'] else 'true'}};
    file.href_arg = '{{=uf['file']}}'
    file.history = []
    {{ for h in uf['history']: }}
    file.history.push({{=h}});
    {{ pass }}
    
    INGUANDES.all_files.push(file);
    {{  pass }}
    
    {{ pass }}
    {{ 
    if asgn_info['file_types'] is not None:
        for ft in asgn_info['file_types']: 
    }}
    INGUANDES.allowed_ext.push('{{=ft.strip()}}');
    {{ 
        pass 
    pass
    }}    
    
    INGUANDES.allowed_multiple = {{='false' if not asgn_info['multiple'] else 'true'}};
    INGUANDES.max_size = {{=file_size_options_kb[asgn_info['max_size']]}}
    INGUANDES.is_available = {{='false' if not asgn_info['is_available'] else 'true'}};
});
</script>
<script src="{{=URL('static','js/assignment/view.js')}}"></script>
{{end}}



