cron.master
httpserver.log
httpserver.pid
parameters_8000.py
welcome.w2p
logs
deposit
__init__.pyc
cache.lock
uploads
cache
databases
errors
private
sessions

*.pyc
/web2py/gluon/contrib/simplejson/__init__.pyc
/web2py/gluon/contrib/simplejson/decoder.pyc
/web2py/gluon/contrib/simplejson/encoder.pyc
/web2py/gluon/contrib/simplejson/scanner.pyc
/web2py/gluon/__init__.pyc
/web2py/gluon/admin.pyc