<!DOCTYPE html>
<html class="no-js" lang="{{=T.accepted_language or 'es'}}">
<head>
  <meta charset="utf-8" />
    
  <title>{{=response.title or request.application}}</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <meta name="application-name" content="{{=request.application}}" />
   
  <link href="{{=URL('static', 'css/bootstrap-wysihtml5.css')}}" rel="stylesheet">
  <link href="{{=URL('static', 'css/bootstrap.css')}}" rel="stylesheet">
  <link href="{{=URL('static', 'css/inguandes.css')}}" rel="stylesheet">
  <link href="{{=URL('static', 'css/jquery.fileupload-ui.css')}}" rel="stylesheet">
  
  
  <!-- Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="{{=URL('static','favicon.ico')}}" type="image/x-icon">
    
  <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>    
  <script src="{{=URL('static','js/jquery.js')}}"></script>  
  <script src="{{=URL('static','js/bootstrap.js')}}"></script>  
  <script src="{{=URL('static','js/jquery.bootstrap-validate.js')}}"></script>  
  <script src="{{=URL('static','js/web2py.js')}}"></script>
  
  <script>
    var INGUANDES = {};
    INGUANDES.api_url = '{{=URL('api')}}'.slice(0,-'api'.length);
    INGUANDES.static_js_url = '{{=URL("static", "js")}}';
    INGUANDES.static_css_url = '{{=URL("static", "css")}}';
    INGUANDES.static_img_url = '{{=URL("static", "img")}}';
  </script>
 
  {{
  response.include_files()
  if session.flash_level is not None:
    response.flash_level = session.flash_level
    session.flash_level = None
  pass
  }}
  
</head>
<body>    
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                
                <div>
                    <a class="brand" href="{{=URL('default', 'index')}}"><img style="height: 20px;" src="{{=URL('static', 'img/logo_iuandes.png')}}"></a>
                    <div class="ribbon-wrapper">
                        <div class="ribbon ribbon-green">beta</div>
                    </div>
                </div>
                {{ if auth.user is not None: }}
                <ul class="nav">
                    {{
                    u_insts = get_user_instances(db, auth.user.id)
                    if len(u_insts) > 0:
                    }}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mis Cursos<b class="caret"></b></a>
                    
                        <ul class="dropdown-menu">
                            {{ for instance in u_insts: }}
                            <li><a href="{{=URL('instance', 'view', args=[instance['id']])}}">{{=instance['title']}}</a></li>
                            {{ pass }}
                        </ul>
                    </li>
                    {{ pass }}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mis Procesos<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{=URL('practice', 'view')}}">Prácticas</a></li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    {{ if auth.has_membership(role='admin'): }}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrar<b class="caret"></b></a>
                        
                        <ul class="dropdown-menu">
                            <li><a href="{{=URL('admin', 'view_terms')}}">Semestres</a></li>                                
                            <li><a href="{{=URL('admin', 'view_courses')}}">Cursos</a></li>
                            <li><a href="{{=URL('admin', 'view_instances')}}">Instancias</a></li>
                        </ul>
                    </li>
                    {{ pass }}
                    {{ 
                    u_courses = get_user_courses(db, auth.user.id)
                    if len(u_courses) > 0:
                    }}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Preguntas<b class="caret"></b></a>
                        
                        <ul class="dropdown-menu">
                            {{ for course in u_courses: }}
                            <li><a href="{{=URL('questions', 'view', args=[course.id])}}">{{=course.name}}</a></li>
                            {{ pass }}
                        </ul>
                    </li>
                    {{ pass }}
                    <!--<li>
                        <a href="{{=URL('tickets', 'view')}}">Tickets</a>
                    </li>-->
                </ul>    
                <ul class="nav pull-right">
                    <li><p class="label label-info" style="margin-top: 10px;">Hola {{=auth.user.first_name}}</p></li>
                    <li><a href="{{=auth.url(auth.settings.function) +'/logout'}}">Salir</a></li>
                </ul>
                {{ else: }}
                <ul class="nav pull-right">
                    <li><a href="{{=auth.url(auth.settings.function) +'/login'}}">Ingresar</a></li>
                </ul>
                {{ pass }}
            </div>            
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="span12">
            {{block center}}
            {{include}}
            {{end}}
          </div>
        </div>

        <div class="row">
          <div class="span12">
            {{block footer}} 
            {{end}}	
          </div>
        </div>
    </div><!-- /container -->
    <div class="row hide" data-type="template-alert">        
        <div class="alert span8 offset2">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <span data-type="alert-text"></span>
        </div>
        <div class="span2">&nbsp;</div>
    </div>
    <script>
    $(document).ready(function() {
        $('.dropdown-toggle').dropdown();
        {{  if response.flash: }}
        INGUANDES.notify('{{=response.flash_level}}', '{{=response.flash}}');
        {{  pass }}
    });
    </script>
    <script src="{{=URL('static','js/inguandes.js')}}"></script>
    {{block pagescripts}}
    {{end}}
</body>
</html>
