{{extend 'layout.html'}}
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h2>Prácticas</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="span3">        
        <div class="well well-small">
            <ul class="nav nav-list">
                <li class="nav-header">Estados</li>
                <li class="{{='active' if selected_state is not None and selected_state == 'pending' else ''}}">
                    <a href="{{=URL('view_all', vars={'state':'pending'})}}">Borradores ({{=st_counts['pending']}})</a>
                </li>
                <li class="{{='active' if selected_state is not None and selected_state == 'validation_sent' else ''}}">
                    <a href="{{=URL('view_all', vars={'state':'validation_sent'})}}">En Validación ({{=st_counts['validation_sent']}})</a>
                </li>
                <li class="{{='active' if selected_state is not None and selected_state == 'validation_ready' else ''}}">
                    <a href="{{=URL('view_all', vars={'state':'validation_ready'})}}">Aprobación Pendiente ({{=st_counts['validation_ready']}})</a>
                </li>
                <li class="{{='active' if selected_state is not None and selected_state == 'approved' else ''}}">
                    <a href="{{=URL('view_all', vars={'state':'approved'})}}">Activas ({{=st_counts['approved']}})</a>
                </li>
                <li class="{{='active' if selected_state is not None and selected_state == 'rejected' else ''}}">
                    <a href="{{=URL('view_all', vars={'state':'rejected'})}}">Rechazadas ({{=st_counts['rejected']}})</a>
                </li>
                <li class="{{='active' if selected_state is not None and selected_state == 'ended' else ''}}">
                    <a href="{{=URL('view_all', vars={'state':'ended'})}}">Finalizadas ({{=st_counts['ended']}})</a>
                </li>
            </ul>
        </div>
    </div>    
    <div class="span9">
        {{ if practices is not None: }}    
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Especialidad</th>
                        <th>Operario</th>
                        <th>Empresa I</th>
                        <th>Empresa II</th>
                    </tr>
                </thead>
                <tbody>
                    {{ for p in practices: }}
                        <tr>
                            <td>{{=p['specialty']}}</td>
                            <td>{{=p['ammount_OP']}}</td>
                            <td>{{=p['ammount_E1']}}</td>
                            <td>{{=p['ammount_E2']}}</td>
                        </tr>
                    {{ pass }}
                </tbody>
            </table>
        {{ pass }}
    </div>    
</div>