{{extend 'layout.html'}}
<div class="row">
    <div class="span12">
        <h2>Mis cursos</h2>
    </div>
</div>
<div class="row">
    {{ for inst in u_insts: }}
        <div class="span4">
            <div class="well">
                <a href="{{=URL('instance', 'view', args=[inst['id']])}}"><span class="label label-info">{{=inst['title']}}</span></a>
                <h6>Profesores</h6>
                <ul>                    
                    {{ for pf in inst['professors']: }}
                    <li>{{=pf['last_name'] + ', ' + pf['first_name']}}</li>
                    {{ pass }}
                </ul>
            </div>
        </div>
    {{ pass }}
</div>